html {
    background-color: rgb(31,5,18);
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    list-style: none;
}
li {
    list-style: none;
}

h2 {
    font-size: 3em;
}

input {
    font-size: 2em;
    border-radius: 5px;
}
button {
    background-color: rgb(31,5,18);
    color: white;
    display: block;
    margin: 1em auto;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1em;

}
img {
    height: 300px;
}