html {
    background-color: rgb(31,5,18);
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    list-style: none;
}
li {
    list-style: none;
    margin: 0 2em 0 0;
}

h2 {
    font-size: 1em;
}

#drinkName {
    font-size: 2em;
}

input {
    font-size: 2em;
    border-radius: 5px;
    text-align: center;
}
button {
    background-color: rgb(31,5,18);
    color: white;
    display: block;
    margin: 1em auto;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1em;

}
p {
    max-width: 40em;
    text-align: center;
    display: block;
    margin: 1em auto;
}

img {
    height: 300px;
    border-radius: 10px;
}
#howItsMade {
    margin: 0 2em;
    display: flex;
    flex-direction: column;
}
#drinkInstructions {
    align-self: flex-end;
}
#output {
    display: flex;
    flex-direction: row;
    margin: 0 25vw;
    height: 300px;
}